.table-header {
  padding-right: 11%;

  & .table__item:nth-child(2) {
    font-weight: bold;
    display: flex;
  }
}

.order {

  &__header-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 5px;
  }
}
